@tailwind base;
@tailwind components;
@tailwind utilities;

#nav-menu .active{
    color: #DC375F;
}

@media only screen and (min-width : 992px) {
    #heroSection{
        background-position-y: 20%;
    }
}

.slick-dots > li {
    margin: 0 40px !important;
}

.slick-dots{
    bottom: -100px !important;
}

@media only screen and (max-width:576px) {
    .slick-dots{
        left: -10% !important;
    }
}

@media only screen and (min-width:576px) {
    .slick-dots{
        left: -3% !important;
    }
}

#test-slider .slick-active a{
    border: 2px solid #DC375F;
}

.filter-drop-active{
    padding: 8px 0;
    height: auto;
    visibility: visible;
    transition: .3s;
}

.filter-drop{
    height: 0;
    visibility: hidden;
}

.card:hover .look {
    right: 8px;
}

#detailSlick .slick-dots{
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
    display: flex !important;
    padding-top: 10px !important;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#detailSlider .slick-dots{
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
}

#detailSlider .slick-dots > li{
    margin: 0 !important;
}

#detailSlick .slick-dots > li{
    margin:  0 !important;
    width: 20% !important;
    height: auto !important;
    opacity: 0.5 !important;
}

#detailSlick .slick-dots > .slick-active {
    opacity: 1 !important;
}